@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.avatar {
  border-radius: 50%;
}
.video {
  border: 2px white solid;
}
.discord,
.github-icon {
  margin-right: -15px;
}
.images img {
  width: 120px;
  height: 120px;
  border-radius: 3px;
}
.images {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding-top: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 24px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
a {
  color: #e5e7eb;
  text-decoration: none;
}
.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}
.links {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 20px;
}
.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  flex-grow: 1;
}
.left {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 20px;
  padding: 40px;
}
.right {
  width: 350px;
  padding: 40px;
}
.information {
  padding: 40px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.information-header {
  font-size: 36px;
  font-weight: 900;
}
.single-image {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 120px;
}

.logo {
  display: flex;
  flex-flow: row wrap;
  font-size: 24px;
  color: #f9faf8;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 150px;
  flex-grow: 1;
}
.sign {
  align-self: flex-end;
  font-size: 18px;
  font-weight: 700;
}
.banner {
  border-radius: 5px;
  text-align: left;
  padding: 30px 80px;
}
button.sign-up {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 5px;
  width: 75px;
  outline: none;
  border: transparent;
  font-weight: 700;
}
button.sign-up-two {
  background-color: #f9faf8;
  color: #1f2937;
  border-radius: 5px;
  padding: 5px;
  width: 75px;
  border: #ce973e 2px solid;
  font-weight: 700;
}
.sign-up-two a:visited {
  color: #1f2937;
}
.time {
  font-weight: 700;
}
.info {
  font-size: 18px;
  color: #1f2937;
}
.call-to-action {
  padding: 70px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner {
  background-color: #e5e7eb;
  color: #1f2937;
  border: 2px #ce973e solid;
  display: flex;
  justify-content: space-around;
  gap: 80px;
  align-items: center;
}
.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  max-width: 780px;
  color: #1f2937;
}
.whole-quote {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
